PORT=3001
DB_HOST=192.168.31.122
DB_PORT=3306
DB_USER=admin_ro
DB_PASSWORD=cv96vWvmAGtQ
DB_NAME=retool_bommanager
MEDIA_BASE_URL=/media
# Optional custom media directory path (defaults to <root>/media)
# MEDIA_DIR=../media

